<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>PRESUPUESTO</title>


  </head>
  <body>

      <div id="main">

    <div class="container" id="presupuesto">
            
            
            

                  <div class="row">
                        <div class="col-10">
                                <h1 class="text-center text-primary">"PRESUPUESTO"</h1>
                                <h1 class="text-center text-primary">Vidrio y Alumio "Gomez"</h1>
                                <h2 class="text-center text-primary">Mario Gomez Quintero</h2>
                                <h3 class="text-center text-primary">BERNARDO VAZQUEZ No.1604 COL.ESTERO</h3>
                                <h3 class="text-center text-primary">TEL. 985-08-59 CEL.(669)158-71-31 MAZATLAN , SINALOA</h3>

                                <div class="card border-primary" style="width: 50rem;" >
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item text-primary">NOMBRE: <span class="text-dark">{{ nombre }}</span>  </li>
                                          <li class="list-group-item text-primary">DOMICILIO: <span class="text-dark">{{ domicilio }}</span></li>
                                          <li class="list-group-item text-primary">CIUDAD: <span class="text-dark">{{ ciudad }}</span></li>
                                          <li class="list-group-item text-primary">RFC: <span class="text-dark">{{ rfc }}</span></li>
                                        </ul>
                                      </div>

                        </div>
                        <div class="col-2">
                                <div class="card text-white bg-primary mb-2 " style="max-width: 18rem;">
                                        <div class="card-header">FOLIO</div>
                                        <div class="card-body">
                                          <h5 class="card-title" id="folio">{{ id }}</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>

                                      <div class="card text-white bg-primary mb-2 " style="max-width: 18rem;">
                                        <div class="card-header">FECHA</div>
                                        <div class="card-body">
                                          <h5 class="card-title" id="date"></h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                        </div>
                      </div>

                 

            <Hr></Hr>
            
            
            
            <div class="card border-primary">
                    <div class="card-body">

                            <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li v-for="item in Servicioadd">  {{ item }} <br> <br> </li> 
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <p class="text-center"  v-for="itemT in total"> {{ itemT  }} </p> 
                                    </div>
                                  </div>
                        </div>
                        <div class="card-footer ">
                                FIRMA:_________________________________________________
                              </div>
                  </div>
        
                  
    </div>
    <!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Presupuesto Gomez</span>
</nav>
    <div class="container">
        <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" v-model="nombre" class="form-control"  placeholder="">
            </div>

            <div class="form-group">
                <label for="nombre">Domicilio</label>
                <input type="text" v-model="domicilio" class="form-control"  placeholder="">
              </div>

              <div class="form-group">
                  <label for="nombre">Ciudad</label>
                  <input type="text" v-model="ciudad" class="form-control" placeholder="">
                </div>

                <div class="form-group">
                    <label for="nombre">Rfc</label>
                    <input type="text" v-model="rfc" class="form-control"  placeholder="">
                  </div>
           
            <div class="form-row">
            <div class="form-group col-md-8">
              <label for="trabajo">Servicio</label>
              <textarea class="form-control" id=""  rows="10"  v-model="name"></textarea>
            </div>

            <div class="form-group col-md-2">
                <label for="precio">Precio</label>
                  <input type="text" class="form-control" id="pre" v-model="precio" placeholder="Precio">
              </div>
              
              <div class="form-group col-md-2">
                <label for="precio">Procentaje de IVA</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                  </div>
                  <input type="text" class="form-control" id="" v-model="iva" placeholder="IVA">
                </div>
              </div>

            </div>

            <button type="button" class="btn btn-info" v-on:click="add">Generar</button>
            <button type="button" class="btn btn-light"  onclick="printPRE('presupuesto'),foli()"  id="print" >Imprimir</button>
            <p>Has Generado {{ counter }} Servicios.</p>
          </form>
    </div>
    
    
    </div>

   
                  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js,vue.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="vue.js"></script>
    

    <!-- Este  script Vue.js 2.0 -->   
      <script>
    
        new Vue({
            el: '#main',
    
            data: {
              Servicioadd:[],
              total:[],
              counter: 0,
              ivaServicio:0,
              subTotal:0,
              cantTotal:[],
              id:0
            },
            name: '',
            methods:{
                add: function(){

                   this.counter += 1

                    this.Servicioadd.push(this.counter+ ":\n " + this.name);
                    this.name = '';

                    
                      this.subTotal = this.precio + ".00" 
                     
                       this.ivaServicio =  this.precio * (this.iva/100) + ".00"
 
                      this.cantTotal = parseInt(this.precio)  + parseInt(this.ivaServicio)
                      
                      this.total.push(this.counter+ ":\n " +"Subtotal\n" + this.subTotal + " + " + " Iva\n " + this.ivaServicio + " =\n "  +  this.cantTotal + ".00" );
                         
                      this.precio = '';

                      this.iva = '';
                      //Generar folio aleatorio
                      var d = new Date();
                      var n = d.getMilliseconds();
        
                      this.id = n

                }
                
            }
        })
      </script>

    <!-- Este  script para abrir Mostrar fecha actual --> 
        <script> 
      
           var f = new Date();
            var fe = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();

            $(function() {
              $('#date').text(fe);
             });

        </script>

    

    <!-- Este  script para esconder el Presupuesto -->   
        <script>
     
          $("#presupuesto").css("display", "none");

        </script>

    <!-- Este  script para Imprimir Presupuesto -->    
        <script>
          function printPRE(contenidoPRE) {

              var contenido= document.getElementById(contenidoPRE).innerHTML;
              var contenidoOriginal= document.body.innerHTML;

              document.body.innerHTML = contenido;

              window.print();

              document.body.innerHTML = contenidoOriginal;

              location.reload();
          }

        </script>


</body>
</html>